.wrapper {
  border: 2px dotted rgb(96, 139, 168);
   width: 500px;
}
.box {

  display: flex;
  flex-wrap: wrap;
  margin:-10px;
}
.box>* {
  flex: 1 1 160px;
  margin: 10px;
  margin-top: 10px;
  margin-block-start: 20;
}